iframe.twitch-plugin {
	border: 0;
	height: 360px;
	width: 640px;
}
.twitch-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.twitch-container iframe,
.twitch-container object,
.twitch-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
}

/* Smartphones (landscape) ----------- */
@media only screen
and (max-width : 321px) {

	iframe.twitch-plugin {
	border: 0;
	height: 180px;
	width: 100%;
	}

}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {

	iframe.twitch-plugin {
	border: 0;
	height: 180px;
	width: 100%;
	}

}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1000px)
and (orientation : landscape) {

	iframe.twitch-plugin {
	border: 0;
	height: 360px;
	width: 100%;
	}

}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
	
	iframe.twitch-plugin {
	border: 0;
	height: 360px;
	width: 100%;
	}
	
}
